<br />  <br />

<div class="container">



    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <center><h1>Contact Us</h1></center>
        <br />
        <center><h4>435 W Albright Lane</h4></center>
        <center><h4>Milwaukee, WI 53223</h4></center>
        <center><h4>(414) 748-9865</h4></center>
        <center>
            <address>
                <br />
                <strong>Customer Service:</strong>   <a href="mailto:Support@example.com">support@dynamicdisposal.com</a><br /><br />
                <strong>Billing:</strong> <a href="mailto:Marketing@example.com">billing@dynamicdisposal.com</a><br />

            </address>
            <p>Type a message below to contact us directly:</p>
            <form method="post">
                <textarea name="message"></textarea>
            </form>
            <button>Send</button>
        </center>
    </div>

    <div class="col-md-3">
    </div>
</div>