@{
    ViewBag.Title = "Home";
}


























 @*@{  
   @*ViewBag.Title = "Google Map API V3 with MVC4 Razor";  
 }*@  
 @*<h3>Google Maps Demo using MVC 4</h3>*@



@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDqV1QIBzhA-7EF1MmpWuMCYZ6sfvL-kA&callback=initMap"
    type="text/javascript"></script>*@





 <br />  


<div class="jumbotron">
    <h1>Got Trash?</h1>
    <p class="lead">We can help. Our professional and affordable waste management services are just what you've been looking for. Sign up today.</p>
    <p><a href="@*http://asp.net*@" class="btn btn-primary btn-lg">Learn More </a></p>
</div>


<div class="row">

    <div class="col-md-4">
        <h2>Check Availability</h2>
        <p>
            Find out if Dynamic Disposal is servicing your area.
        </p>
        <p><a class="btn btn-default" href="">Check Now</a></p>
    </div>



    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Let us take care of all your waste management needs.</p>
        <p><a class="btn btn-default" href="">Sign Up</a></p>
    </div>

    <div class="col-md-4">
        <h2>Log In</h2>
        <p>
            Log in to easily manage your schedule, billing, and more.
        </p>
        <p><a class="btn btn-default" href="">Log In</a></p>
    </div>



</div>
