@{
    ViewBag.Title = "Home";
}




<br />  <br />

<center>
    <div class="jumbotron">
        <h1>Got Trash? We Can Help.</h1><br /><br />
        <p class="lead">Our professional and affordable waste management services are just what you've been looking for.</p>
        <br />
        <p><a href="http://localhost:1935/Home/About" class="btn btn-primary btn-lg">Learn More </a></p>
    </div>
</center>

<div class="row">
    <div class="col-md-4">
        <h2>Check Availability</h2>
        <p>
            Find out if Dynamic Disposal is servicing your area.
        </p>
        <p><a class="btn btn-default" href="">Check Now</a></p>
    </div>

    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Let us take care of all your waste management needs.</p>
        <p><a class="btn btn-default" href="http://localhost:1935/Account/Register">Sign Up</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log In</h2>
        <p>
            Log in to easily manage your schedule, billing, and more.
        </p>
        <p><a class="btn btn-default" href="http://localhost:1935/Account/Login">Log In</a></p>
    </div>

</div>